$primary: #2A324B;
$secondary: #0CCA4A;
$white: #FCFAFA;
$backgroundColor: #A4B8C4;

$boxShadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
$hoverBoxShadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
$clickBoxShadow: inset 0px 1px 10px rgba(0, 0, 0, 0.2);

$borderRadius: 8px